@font-face {
  font-family: 'StarWarFont';
  src: url('the-last-knight.otf');
}

body {
  line-height: 1.5em;
  font-family: 'StarWarFont';
}

.header {
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
}

.header .logo {
  width: 100%;
  height: 190px;
  background-color: black;
}

.main-container {
  margin-top: 205px;
}

.btn-star-war {
  color: #FFE81F;
  background-color: #000000;
}

.hero-details {
  padding-left: 30px;
  padding-right: 30px;
}

/*.hero-detail,
.planet-detail {
  margin-top: 3px;
}

.hero-detail .hero-detail__label,
.planet-detail .planet-detail__label {
  color: #FFE81F;
  background-color: #000000;
  display: inline-block;
  width: 40%;
}

.hero-detail .hero-detail__p,
.planet-detail .planet-detail__p {
  padding-left: 5px;
}*/

.hero-detail,
.planet-detail {
  margin-top: 3px;
}

.hero-detail .hero-detail__label,
.planet-detail .planet-detail__label {
  color: #FFE81F;
  background-color: #000000;
}

.close {
  opacity: initial;
  color: #FFE81F;
}
