<div *ngIf="planet">
  <h4>Planet</h4>
  <div class="planet-details">
    <div class="planet-detail row">
      <div class="planet-detail__label col-xs-5 col-sm-4"><span class="planet-detail__p">name:</span></div>
      <div class="planet-detail__p col-xs-7 col-sm-8">{{planet.name}}</div></div>
    <div class="planet-detail row">
      <div class="planet-detail__label col-xs-5 col-sm-4"><span class="planet-detail__p">climate:</span></div>
      <div class="planet-detail__p col-xs-7 col-sm-8">{{planet.climate}}</div>
    </div>
    <div class="planet-detail row">
      <div class="planet-detail__label col-xs-5 col-sm-4"><span class="planet-detail__p">terrain:</span></div>
      <div class="planet-detail__p col-xs-7 col-sm-8">{{planet.terrain}}</div>
    </div>
  </div>
</div>
