<form>
  <div class="form-group">
    <label for="search-name">Search by name</label>
    <input #searchTerm
           class="form-control"
           type="text"
           id="search-name" (keyup)="search(searchTerm.value)"/>
  </div>
</form>
