<h1>Our Heroes</h1>

<hr/>
<ul>
  <li *ngFor="let hero of heroes | async" (click)="showHero(hero, staticModal)">
    {{hero.name}}
  </li>
</ul>
<hr/>

<div class="text-center">
  <button class="btn btn-default btn-star-war"
          *ngIf="paging.previousRef"
          (click)="goPage(paging.previousRef)">Prev</button>
  <button class="btn btn-default btn-star-war"
          *ngIf="paging.nextRef"
          (click)="goPage(paging.nextRef)">Next</button>
</div>

<div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div *ngIf="selectedHero">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Hero Detailed Description</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">x</span>
          </button>
        </div>
        <div class="modal-body hero-details">
          <div class="row">
            <div class="col-xm-12 col-md-6">
              <div class="hero-detail row">
                <div class="hero-detail__label col-xs-5 col-sm-4"><span class="hero-detail__p">name:</span></div>
                <div class="hero-detail__p col-xs-7 col-sm-8">{{selectedHero.name}}</div>
              </div>
              <div class="hero-detail row">
                <div class="hero-detail__label col-xs-5 col-sm-4"><span class="hero-detail__p">year of birth:</span></div>
                <div class="hero-detail__p col-xs-7 col-sm-8">{{selectedHero.birth_year}}</div>
              </div>
              <div class="hero-detail row">
                <div class="hero-detail__label col-xs-5 col-sm-4"><span class="hero-detail__p">gender:</span></div>
                <div class="hero-detail__p col-xs-7 col-sm-8">{{selectedHero.gender}}</div></div>
              <div class="hero-detail row">
                <div class="hero-detail__label col-xs-5 col-sm-4"><span class="hero-detail__p">height:</span></div>
                <div class="hero-detail__p col-xs-7 col-sm-8">{{selectedHero.height}}</div>
              </div>
            </div>
            <div class="col-xm-12 col-md-6">
              <species-list [references]="selectedHero.species"></species-list>
              <homeworld [reference]="selectedHero.homeworld"></homeworld>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
